.order div,
h3.order
{
	float:left;
	clear:left;
	width:100%;
}

.order span.instr {
	float:left;
	margin:2px;
	cursor:pointer;
}

.order span.date {
	float:left;
	color: blue;
	text-decoration: underline;
	margin:2px;
	cursor:pointer;
}

table.order {
	border-collapse: collapse;
	border-spacing: 0;
	width:90%;
}
.order td {
	border: 1px solid #444444;
	vertical-align: middle;
	padding: 0.5pt;
}
.m_order {
	font-family: Arial, serif;
	font-size: 10pt;
}

textarea {
	border: 1px solid #ccc;
	height:100px;
	width:50%;
	font-size:10px;
}

textarea.stable {
	display:block;
	min-width:300px;
	max-width:300px;
	/*width:300px;*/
	min-height:40px;
	max-height:40px;
}